# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.venv/

# Jupyter (if you use it)
.ipynb_checkpoints/

# Data & models (edit to taste)
data/
Test data/
models/
best model/

# Results/plots (optional: keep if you want)
# *.png

# IDEs
.vscode/
.idea/

